<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Online Education</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">


<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">


<link rel="stylesheet" href="/css/bootstrap.min.css">

<link rel="stylesheet" href="/style.css">

<link rel="stylesheet" href="/css/versions.css">

<link rel="stylesheet" href="/css/responsive.css">

<link rel="stylesheet" href="/css/custom.css">


<script src="/js/modernizer.js"></script>

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>